<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="path/to/chartjs/dist/chart.umd.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <style>
      .dwopdwon {
        text-align: center;
        width: 150px;
      }
      </style>
    <title>Dashboard</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark bg-body-tertiary" style="backgroundColor:#0a3561;">
      <div class="container">
        <a class="navbar-brand" style="color : white;" href="#">Visualization Dashboard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" style="color : white;" aria-current="page" href="#">Home</a>
            </li>
        </div>
      </div>
    </nav>
    <div class="container">
    <div class="row mt-3 pt-3">
      <div class="col-md-4">
        <div class="border p-3 shadow">
          <h4>Add Data</h4>
          <hr>
          <form method="POST"> {% csrf_token %}
            <label for="lebal">Choose X-axis options:</label>
            <select class = "dwopdwon mx-3" name="xValues" id="xValues" >
              <option class = "dwopdwon" value="sector">Sector</option>
              {% comment %} <option class = "dwopdwon" value="topic">Topic</option> {% endcomment %}
              <option class = "dwopdwon" value="region">Region</option>
              {% comment %} <option class = "dwopdwon" value="source">Source</option> {% endcomment %}
              <option class = "dwopdwon" value="end_year">End_year</option>
              <option class = "dwopdwon" value="end_year">Start_year</option>
              <option class = "dwopdwon" value="intensity">Intensity</option>
              <option class = "dwopdwon" value="likelihood">Likelihood</option>
              <option class = "dwopdwon" value="pestle">Pestle</option>
              <option class = "dwopdwon" value="relevance">Relevance</option>
              <option class = "dwopdwon" value="country">Country</option>
            </select>
            <br><br>
            <label for="value">Choose Y-axis option:</label>
            <select class = "dwopdwon mx-3" name="yValues" id="yValues" >
              <option class = "dwopdwon" value="sector">Sector</option>
              <option class = "dwopdwon" value="topic">Topic</option>
              <option class = "dwopdwon" value="region">Region</option>
              <option class = "dwopdwon" value="source">Source</option>
              <option class = "dwopdwon" value="intensity">Intensity</option>
              <option class = "dwopdwon" value="likelihood">Likelihood</option>
              <option class = "dwopdwon" value="pestle">Pestle</option>
              <option class = "dwopdwon" value="relevance">Relevance</option>
              <option class = "dwopdwon" value="country">Country</option>
            </select>
            <br><br>
            <label for="chart">Choose Chart option:</label>
            <select class = "dwopdwon mx-3" name="chartname" id="chartname" >
              <option class = "dwopdwon" value="bar">Bar</option>
              <option class = "dwopdwon" value="pie">Pie</option>
              <option class = "dwopdwon" value="line">Line</option>
              <option class = "dwopdwon" value="doughnut">Doughnut</option>
            </select>
            <br><br>
            <input type="submit" value="Submit">
          </form>
        </div>
      </div>
    
      <div class="col-md-8">
        <canvas id="myChart" style="width:100%;max-width:1000px"></canvas>
        <script>
          var xValues = [{% for lebal in xaxis %} '{{lebal}}', {% endfor %}];
          var yValues = [{% for data in yaxis %} '{{data}}', {% endfor %}];
          var barColors = ["tomato", "orange", "red", "grey","yellow","blue","pink","dodgerblue", "slateblue", "crimson", "darcyan", "darkorchid", "forestgreen", "goldenrod", "green", "hotpink","indigo","lightcoral","yellowgreen","violet", "springgreen", "slateblue", "salmon", "saddlebrown","purple","palevioletred","palegreen","orangered", "olive", "navy", "mediumvioletred", "mediumblue","lime","lightsalmon","tomato", "orange", "red", "grey", "yellow","blue","pink","dodgerblue", "slateblue", "crimson", "darkcyan","darkorchid","darkslategrey", "forestgreen", "goldenrod", "green", "hotpink","indigo","lightcoral","yellowgreen","violet", "springgreen", "slateblue", "salmon", "saddlebrown","purple","palegreen","orangered", "olive", "navy", "mediumvioletred", "mediumblue","lime","lightsalmon"] 
        
          new Chart("myChart", {
            type: '{{chartname}}',
            data: {
              labels: xValues,
              datasets: [{
                backgroundColor: barColors,
                data: yValues
              }]
            },
            options: {
              legend: {display: true},
              title: {
                display: true,
                text: `Count of {{xfield}} by {{yfield}}`
              }
            }
          });
          {% comment %} document.getElementById('pk').innerHMTL = ` Count of '{{xfield}}' by '{{yfield}}' ` {% endcomment %}
          
          </script>
      </div>
    </div>
  </div>
    
    <!-- Optional JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>